li.dev-item{
    background: var(--primary_color);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 20px;
}

li.dev-item header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li.dev-item header .user-info{
    margin-left: 10px;
}

.user-info strong{
    display: block;
    font-size: 16px;
    color: var(--primary_font)
}

.user-info span {
    font-size: 13px;
    color: var(--secondary_font);
    margin-top: 2px
}

li.dev-item p {
    color: var(--tertiary_font);
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

li.dev-item a {
    color: #8e4dff;
    font-size: 14px;
    text-decoration: none;
    
}

li.dev-item a:hover {
    color: #5a2ea6;
}
