aside{
    width: 320px;
    background:rgb(25, 26, 27);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 30px 20px;
}

aside strong {
    font-size: 20px;
    font-weight: 2000;
    text-align: center;
    display: block;
    color: rgb(204, 204, 204)
}

aside form {
    margin-top: 30px;
}

aside form .input-block + .input-block{
    margin-top: 20px;
}

aside input {
    background: #191a1b
}

aside form .input-group{
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

aside form .input-group .input-block {
    margin-top: 0px;
}

aside form .input-block label{
    color: #b8b8b8;
    font-size: 14px;
    font-weight: bolder;
    display: block;
}

aside form .input-block input{
    width: 100%;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(224, 224, 224);
    border: 0;
    border-bottom: 1px solid rgba(116, 116, 116, 0.589);
}


aside form button[type=submit]{
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: #c40a00;
    padding: 15px 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.125s;
}

aside form button[type=submit]:hover{
    background: #8f0700;
}